name: Generate article list

on:
  workflow_dispatch:
    inputs:
      force_update:
        description: 'Force regenerate all tags'
        required: false
        type: boolean
        default: false
  
  push:
    branches:
      - main

env:
  GITHUB_NAME: askming
  GITHUB_EMAIL: askming@gmail.com

jobs:
  compile:
    runs-on: ubuntu-latest

    steps:
      - name: Set up GH repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.9
          cache: 'pip'

      - name: Install dependencies & Run Python script
        env:
          GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
        run: |
          pip install -r requirements.txt
          ARGS=""
          if [ "${{ inputs.force_update }}" == "true" ]; then
            ARGS="--force"
          fi
          python main.py $ARGS
      
      - name: Commit/Push changes 
        uses: github-actions-x/commit@v2.9
        with:
          github-token: ${{ secrets.SIMPREAD }}
          commit-message: "Create/Refresh article list"
          files: |
            README.md
            Saved_Reading/*.md
          rebase: 'true'
          name: ${{ env.GITHUB_NAME }}
          email: ${{ env.GITHUB_EMAIL }}